<h1>Welcome to the Makeup Products Application</h1>
<p>Discover the latest trends and enhance your beauty with our wide range of makeup products.</p>
<ul>
<li><%= link_to 'Products', products_path %></li>
</ul>
<p>Explore high-quality cosmetics, skincare, fragrances, and more from top brands.</p>
<ul>
<li><%= link_to 'Brands', brands_path %></li>
</ul>
<p>Whether you are a makeup enthusiast, a professional artist, or simply looking to enhance your everyday look, we have everything you need to express your unique style with the help of different categories of product.</p>
<ul>
<li><%= link_to 'Categories', categories_path %></li>
</ul>
<p>Stay updated with the hottest beauty releases, read product reviews, and find your holy grail makeup essentials.</p>
<ul>
<li><%= link_to 'Reviews', reviews_path %></li>
</ul>
<p>Get to know about some of our satisfied customers</p>
<ul>
<li><%= link_to 'Users', users_path %></li>
</ul>